/* Imports */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* Colors */
/* Defs */
/* Init */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#emergencia, #begin {
  position: absolute;
  bottom: 0;
  right: -136px;
  bottom: -132px;
  height: 250px;
  width: 320px;
  background: transparent;
  border: 0;
  color: #da0505;
  padding: 2em 4em;
  padding-right: 8em;
  outline: 0;
  border-radius: 100%;
  cursor: pointer;
}

#emergencia .content, #begin .content {
  bottom: 150px;
  right: 150px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15pt;
  position: absolute;
}

#emergencia .icon, #begin .icon {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 28pt !important;
  margin: .2em;
}

#begin {
  color: #000;
  top: 0px;
  font-size: 30px;
  right: -120px;
}

#begin .content .fas {
  color: #68bed1;
  font-size: 45pt !important;
}

#modal-case {
  display: none;
}

#modal-case #modal-container {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  width: 750px;
  margin-left: 35%;
  margin-top: 15%;
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  background-color: white;
}

#modal-case #modal-container #modal-header {
  display: inline-block;
}

#modal-case #modal-container #modal-header #modal-title {
  padding: 20px 20px 0px 13px;
  float: left;
  width: 660px;
  font-size: 25px;
}

#modal-case #modal-container #modal-header #modal-close {
  padding: 25px 27px 0px 15px;
  width: 10px;
  color: #929292;
  float: left;
}

#modal-case #modal-container #modal-header #modal-close:hover {
  color: #000;
}

#modal-case #modal-container .modal-separator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#modal-case #modal-container #modal-body {
  minheight: 100px;
  padding: 20px 30px 30px 30px;
}

#modal-case #modal-container #emergency-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  padding: 25px;
  font-size: 20px;
  background-color: #68bed1;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: .6s ease;
  color: #fff;
  width: 100%;
}

#modal-case #modal-container #emergency-button:hover {
  color: #68bed1;
  background-color: #fff;
  border: 3px solid #68bed1;
}

#modal-case #modal-shadow {
  background-color: rgba(0, 0, 0, 0.664);
  position: fixed;
  height: 100%;
  width: 100%;
}

.btn {
  padding: 10px 70px;
  margin: 20px;
  border-radius: 50px;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  color: #fff;
  background: #68bed1;
  outline: none;
  border: 2px solid transparent;
  transition: .6s ease;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  border: 2px solid #68bed1;
  color: #68bed1;
  transition: .6s ease;
}

main {
  padding: 1em 4em;
}

main h1.title {
  font-family: "Raleway", sans-serif;
  font-size: 36pt;
  font-weight: 400;
  text-align: center;
  color: #68bed1;
}

main section.categories {
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
}

main section.categories a {
  text-decoration: none;
  color: #333;
}

main section.categories .category {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 4px 10px #eee;
  background: #fbfbfb;
  padding: 1em;
  border-bottom: 3px solid #68bed1;
}

main section.categories .category:hover {
  background: #f5f5f5;
}

main section.categories .category img {
  width: 125px;
  display: block;
  margin: 0 auto;
  background: #fff;
  padding: 1em;
  border-radius: 50%;
  box-shadow: 0 4px 10px #eee;
}

main section.categories .category h2.subtitle {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #68bed1;
  font-size: 18pt;
  font-weight: 600;
}

main section.categories .category p.desc {
  padding: 0 2em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 16pt;
}
