/* Imports */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* Colors */
/* Defs */
/* Init */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#emergencia {
  position: absolute;
  bottom: 0;
  right: -136px;
  bottom: -132px;
  height: 250px;
  width: 320px;
  background: transparent;
  border: 0;
  color: #da0505;
  padding: 2em 4em;
  padding-right: 8em;
  outline: 0;
  border-radius: 100%;
  cursor: pointer;
}

#emergencia .content {
  bottom: 150px;
  right: 150px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15pt;
  position: absolute;
}

#emergencia .icon {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 28pt !important;
  margin: .2em;
}

.btn {
  padding: 10px 70px;
  margin: 20px;
  border-radius: 50px;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  color: #fff;
  background: #68bed1;
  outline: none;
  border: 2px solid transparent;
  transition: .6s ease;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  border: 2px solid #68bed1;
  color: #68bed1;
  transition: .6s ease;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 140px 1fr;
}

main aside.breadcrumb {
  background: #f2f2f2;
  border-right: 2px solid #eee;
}

main aside.breadcrumb .steps {
  padding: 0;
  margin: 0;
  list-style: none;
}

main aside.breadcrumb .steps .step {
  opacity: .2;
  padding: .5em;
  margin: 0;
  border-bottom: 2px solid #68bed1;
  padding-bottom: 1.25em;
  padding-top: 1.25em;
  position: relative;
  transition: .6s ease;
}

main aside.breadcrumb .steps .step.active {
  cursor: pointer;
  opacity: .4;
  transition: .6s ease;
}

main aside.breadcrumb .steps .step.active:hover {
  background: #fff;
  opacity: .8;
}

main aside.breadcrumb .steps .step.active:hover::before {
  background: #fff;
}

main aside.breadcrumb .steps .step.actual {
  opacity: 1;
}

main aside.breadcrumb .steps .step:last-child::before {
  display: none;
}

main aside.breadcrumb .steps .step::before {
  transition: .6s ease;
  position: absolute;
  content: '.';
  width: 40px;
  background: #f2f2f2;
  bottom: -10px;
  left: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateX(-50%);
}

main aside.breadcrumb .steps .step .icon img {
  width: 40px;
  display: block;
  margin: 0 auto;
}

main aside.breadcrumb .steps .step .label {
  padding: .5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #68bed1;
  font-size: 14pt;
  text-align: center;
  display: block;
}

main aside.breadcrumb .steps .step .arrow {
  color: #68bed1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  font-size: 12pt;
}

main section {
  display: none;
}

main section.active {
  display: grid;
}

main section.main#pain {
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr 3fr;
}

main section.main#pain .title {
  box-sizing: border-box;
}

main section.main#pain .title h1, main section.main#pain .title h2 {
  color: #68bed1;
  font-size: 46pt;
  margin: 0;
  margin-top: .5em;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  display: block;
  text-align: center;
}

main section.main#pain .title h2 {
  margin: 0;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 24pt;
}

main section.main#pain .map {
  display: grid;
  grid-template-columns: 6fr 4fr;
  padding: 2em 8em;
  box-sizing: border-box;
  color: #333;
}

main section.main#pain .map img {
  width: 325px;
}

main section.main#pain .action {
  padding-top: 5em;
  text-align: center;
  box-sizing: border-box;
}

main section.main#pain .action button#cancel {
  background: #da0505;
}

main section.main#pain .action button#cancel:hover {
  border: 2px solid #da0505;
  color: #da0505;
}

main section.main#heartbeat {
  padding: 2em 10em;
}

main section.main#heartbeat .title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #68bed1;
  font-size: 30pt;
  text-align: center;
}

main section.main#heartbeat .desc img {
  display: block;
  width: 125px;
  margin: 1em auto;
}

main section.main#heartbeat .desc p {
  font-family: "Raleway", sans-serif;
  font-size: 24pt;
  text-align: center;
}

main section.main#heartbeat .actions {
  text-align: center;
}

main section.main#heartbeat .actions #counter {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 48pt;
  color: #68bed1;
}

main section.main#heartbeat .actions #bpmmessage {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 24pt;
}

main section.main#heartbeat .actions #bpmmessage #bpm {
  display: block;
  font-weight: 600;
  margin-bottom: 2em;
}

main section.main#heartbeat .actions #nexthb {
  display: none;
  margin: 0 auto;
}

section#height {
  padding-top: 1em;
}

section#height .title {
  font-family: "Raleway", sans-serif;
  font-size: 24pt;
  text-align: center;
  font-weight: 600;
  color: #68bed1;
}

section#height .desc {
  padding-top: 1em;
}

section#height .desc img {
  display: block;
  margin: 0 auto;
  width: 100px;
}

#levels {
  display: none;
  position: absolute;
  background: #fff;
  padding: .5em 1em;
  border-radius: 40px;
  box-shadow: 0 4px 10px #eee;
  z-index: 2;
}

#levels button {
  border-radius: 100%;
  padding: .5em .65em;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: .4s ease;
  outline: none;
}

#levels button img {
  width: 50px;
}

#levels button:hover {
  transition: .4s ease;
  box-shadow: 0 4px 10px #eee;
}

.painlevelimg {
  position: absolute;
  width: 25px;
  background: #fff;
  padding: .25em;
  border-radius: 25px;
  box-shadow: 0 2px 5px #eee;
}
